@model List<ProductGroup>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ITManager/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Ürün Grup Listesini";
}

<div class="row">
    <div class="col-12">
        <div class="card card-gray-dark">
            <div class="card-header">
                <h3 class="card-title">Ürün Grupları Kısa Bilgileri</h3>
            </div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width:auto">Ürün Kodu</th>
                            <th style="width:auto">Ürün Bilgileri</th>
                            <th style="width:auto"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.ProductCode</td>
                                <td>
                                    Ürün Adı = @item.Product.ProductName<br />
                                    Ürün Fiyatı = @item.Product.ProductPrice<br />
                                    Ürün Özelliği = @item.Product.Features
                                </td>
                                <td>
                                    @Html.ActionLink("Detay", "Detail", new { id = item.ID }, new { @class = "btn btn-success" })<br />
                                    @Html.ActionLink("Ekle", "Add", "ProductGroup", null, new { @class = "btn btn-info" })<br />
                                    @Html.ActionLink("Güncelle", "Update", new { id = item.ID }, new { @class = "btn btn-warning" })<br />
                                    @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

