@model List<AdditionalStandMaterial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OperationManager/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Diğer Hizmetler";
}

<div class="row">
    <div class="col-12">
        <div class="card-gray-dark">
            <div class="card-header">
                <h3 class="card-title">İlave Stand Malzemesi ve Listesi</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width:auto">Firma Bilgileri</th>
                            <th style="width:auto">Fuar Bilgileri</th>
                            <th style="width:auto">Sipariş Edilen Stand Adı</th>
                            <th style="width:auto">Sipariş Edilen Stand Codu</th>
                            <th style="width:auto">Sipariş Edilen Stand Fiyatı</th>
                            <th style="width:auto">Sipariş Edilen Stand Toplam Fiyatı</th>
                            <th style="width:auto">Sipariş Edilen Stand Özellileri</th>
                            <th style="width:auto">Tedarikçi Bilgileri</th>
                            <th style="width:auto">Boş Alan İse İhtiyaçaları</th>
                            <th style="width:auto"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>
                                Firma ID: @item.Company.ID<br />
                                Firma Adı: @item.Company.CompanyName<br />
                                Firma Yetkilisi : @item.Company.CompanyOfficial<br />
                                Telefonu: @item.Company.Phone<br />
                                Email: @item.Company.Email<br />
                                Adresi: @item.Company.Address<br />
                                </td>
                                <td>
                                Fuar ID: @item.Fair.ID<br />
                                Fuar Adı: @item.Fair.FairName<br />
                                Fuar Tarihi: @item.Fair.StartDate.ToString("d")-@item.Fair.FinishDate.ToString("d")
                                Fuar Adresi: @item.Fair.Address
                                </td>
                                <td>@item.StandName</td>
                                <td>@item.StandCode</td>
                                <td>@item.StandPrice</td>
                                <td>@item.TotalPrice</td>
                                <td>@item.StandFeatures</td>
                                <td>
                                    Tedarikçi ID: @item.Supplier.ID<br />
                                    Firma Adı: @item.Supplier.CompanyName<br />
                                    Yetkili Kişi : @item.Supplier.Name @item.Supplier.Surname<br />
                                    Telefonu : @item.Supplier.Phone<br />
                                    Email : @item.Supplier.Email<br />
                                    Adresi : @item.Supplier.Address<br />
                                </td>
                                <td>
                                    @Html.ActionLink("Detay", "Detay", new { id = item.ID }, new { @class = "btn btn-dark" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

