@model List<Interviewee>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/ITManager/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Görüşülecek Kişi Detay";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-dark">
            @foreach (var item in Model)
            {
                <center><h5>ID: <label style="color:darkred">@item.ID</label></h5></center><br />
                <center>
                    <h5>
                        Firma ID: <label style="color:darkred"> @item.Company.ID</label><br />
                        Firma Adı: <label style="color:darkred">@item.Company.CompanyName</label><br />
                        Firma Yetkilisi: <label style="color:darkred">@item.Company.CompanyOfficial</label><br />
                        Firma Unvanı: <label style="color:darkred">@item.Company.Title</label><br />
                        Firma Telefonu: <label style="color:darkred">@item.Company.Phone</label><br />
                        Firma Emaili: <label style="color:darkred">@item.Company.Email</label><br />
                        Firma Fax: <label style="color:darkred">@item.Company.Fax</label><br />
                        Firma Addresi: <label style="color:darkred">@item.Company.Address</label><br />
                        Firma Ülkesi: <label style="color:darkred">@item.Company.Country.CountryName</label><br />
                        Firma Sectorü: <label style="color:darkred">@item.Company.Sector.SectorAdı</label><br />
                        Firmanın Katıldığı Fuar Sayısı: <label style="color:darkred">@item.Company.FairAttendance</label><br />
                    </h5>
                </center><br />
                <center><h5>Adı-Soyadı :<label style="color:darkred">@item.FullName</label></h5></center><br />
                <center><h5>Unvanı :<label style="color:darkred">@item.Title</label></h5></center><br />
                <center><h5>Telefonu :<label style="color:darkred">@item.Phone</label></h5></center><br />
                <center><h5>Email :<label style="color:darkred">@item.Email</label></h5></center><br />
                <center><h5>Görüşüldü Mü? :<label style="color:darkred">@item.IsInterviewee</label></h5></center><br />
                <center>
                    <h5>
                        @Html.ActionLink("Geri Dön", "Index", "Interviewee", null, new { @class = "btn btn-secondary" })
                    </h5>
                </center>
            }
        </div>
    </div>
</div>

