@model List<Fair>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ITManager/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Fuar Listesi";
}

<div class="row">
    <div class="col-12">
        <div class="card card-gray-dark">
            <div class="card-header">
                <h3 class="card-title">Fuar Listesi</h3>
            </div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width:auto">Fuar Adı</th>
                            <th style="width:auto">Başlama Tarihi</th>
                            <th style="width:auto">Bitiş Tarihi</th>
                            <th style="width:auto">Adresi</th>
                            <th style="width:auto">Salon Bilgileri</th>
                            <th style="width:auto">Fuar Resmi</th>
                            <th style="width:auto"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.FairName</td>
                                <td>@item.StartDate.ToString("d")</td>
                                <td>@item.FinishDate.ToString("d")</td>
                                <td>@item.Address</td>
                                <td>
                                Sector Adı: @item.Saloon.Sector.SectorAdı
                                </td>
                                <td><img src="@item.ImagePat" style="height:150px;width:150px" /></td>
                                <td>
                                    @Html.ActionLink("Detay", "Detail", new { id = item.ID }, new { @class = "btn btn-success" })<br />
                                    @Html.ActionLink("Ekle", "Add", "Fair", null, new { @class = "btn btn-info" })<br />
                                    @Html.ActionLink("Güncelle", "Update", new { id = item.ID }, new { @class = "btn btn-warning" })<br />
                                    @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

