@model List<Supplier>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/OperationManager/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Tedarikçi Detay";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-dark">
            @foreach (var item in Model)
            {
                <center><h5>ID: <label style="color:darkred">@item.ID</label></h5></center><br />
                <center><h5>Firma Adı: <label style="color:darkred">@item.CompanyName</label></h5></center><br />
                <center><h5>Adı-Soyadı :<label style="color:darkred">@item.Name @item.Surname</label></h5></center><br />
                <center><h5>Adresi :<label style="color:darkred">@item.Address</label></h5></center><br />
                <center><h5>Telefonu :<label style="color:darkred">@item.Phone</label></h5></center><br />
                <center><h5>Email :<label style="color:darkred">@item.Email</label></h5></center><br />
                <center>
                    <h5>
                        @Html.ActionLink("Geri Dön", "Index", "Supplier", null, new { @class = "btn btn-secondary" })
                    </h5>
                </center>
            }
        </div>
    </div>
</div>

