@model List<CatalogInputForm>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ITManager/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Katolog Giriş Form Listesi";
}


<div class="row">
    <div class="col-12">
        <div class="card card-gray-dark">
            <div class="card-header">
                <h3 class="card-title">Katalog Giriş Formu</h3>
            </div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width:auto">Firma Bilgileri</th>
                            <th style="width:auto">Ürün Grupları Bilgileri</th>
                            <th style="width:auto">Firma Profili Bilgileri</th>
                            <th style="width:auto"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>
                                    Firma ID: @item.Company.ID<br />
                                    Firma Adı: @item.Company.CompanyName<br />
                                    Firma Yetkilisi : @item.Company.CompanyOfficial<br />
                                    Telefonu: @item.Company.Phone<br />
                                    Email: @item.Company.Email<br />
                                    Adresi: @item.Company.Address<br />
                                </td>
                                <td>
                                    Ürün Grup ID: @item.ProductGroupId<br />
                                    Ürün Kodu: @item.ProductGroup.ProductCode<br />
                                    Ürün Id: @item.ProductGroup.ProductId
                                </td>
                                <td>
                                    Firma Profili ID: @item.CompanyProfileId<br />
                                    Firma Profili Adı: @item.CompanyProfile.ProfileName
                                </td>
                                <td>
                                    @Html.ActionLink("Ekle", "Add", "CatalogInputForm", null, new { @class = "btn btn-info" })<br />
                                    @Html.ActionLink("Güncelle", "Update", new { id = item.ID }, new { @class = "btn btn-warning" })<br />
                                    @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
