@model List<SalesPerson>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ReferencesManager/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Yurtdışı Ofis Çalışan Ödenekleri</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: auto">ID</th>
                            <th style="width: auto">Fuar Bilgisi</th>
                            <th style="width: auto">Adı Soyadı</th>
                            <th style="width: auto">Phone</th>
                            <th style="width: auto">Email</th>
                            <th style="width: auto">Sözleşme Bilgileri</th>
                            <th style="width: auto">%10 Hesaplanmıs Komisyon Tutarı</th>
                            <th style="width: auto">Döviz Cinsi</th>
                            <th style="width:auto"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>
                                    Fuar ID = @item.FairId<br />
                                    Fuar Adı = @item.Fair.FairName<br />
                                </td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>
                                   Sözleşme ID = @item.ContractId<br />
                                   Sözleşme Tutarı = @item.Contract.TotalPrice<br />
                                </td>
                                <td>@item.CommisionPrice</td>
                                <td>@item.Currency.CurrencyName</td>
                                <td>
                                    @Html.ActionLink("Detay", "Detay", new { id = item.ID }, new { @class = "btn btn-dark" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <footer>
                <center>
                    <h5> Ödenek Adeti = <span style="color:red">@Model.Count()</span></h5>
                    <h5> %10'luk Komisyon Toplamı = <span style="color:red">@Model.Sum(x => x.CommisionPrice)</span></h5>
                </center>
            </footer>
        </div>
    </div>
</div>

