@model List<AdditionalStandMaterial>
@{
    ViewBag.Title = "Detay";
    Layout = "~/Areas/ReferencesManager/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-12">
            <center>
                <h5>Sıra ID = <span style="color:red">@item.ID</span></h5><br />
                <h5 style="color:cornflowerblue">Firma Bilgileri</h5>
                <label>
                    Firma ID = <span style="color:red">@item.CompanyId</span><br />
                    Firma Adı = <span style="color:red">@item.Company.CompanyName</span><br />
                    Firma Yetkilisi = <span style="color:red">@item.Company.CompanyOfficial</span><br />
                    Firma Unvani = <span style="color:red">@item.Company.Title</span><br />
                    Firma Telefonu = <span style="color:red">@item.Company.Phone</span><br />
                    Firma Dahili = <span style="color:red">@item.Company.Intercom</span><br />
                    Firma Email Adresi = <span style="color:red">@item.Company.Email</span><br />
                    Firma Fax = <span style="color:red">@item.Company.Fax</span><br />
                    Firma Adresi = <span style="color:red">@item.Company.Address</span><br />
                </label>
                <h5 style="color:cornflowerblue">Fuar Bilgileri</h5>
                <label>
                    Fuar ID = <span style="color:red">@item.FairId</span><br />
                    Fuar Adı = <span style="color:red">@item.Fair.FairName</span><br />
                    Fuar Başlama ve Bitiş Tarihi = <span style="color:red">@item.Fair.StartDate.ToString("d")-@item.Fair.FinishDate.ToString("d")</span><br />
                    Fuar Adresi = <span style="color:red">@item.Fair.Address</span><br />
                </label><br />
                <h5 style="color:cornflowerblue">Stand Adı = <span style="color:red">@item.StandName</span></h5>
                <h5 style="color:cornflowerblue">Stand Kodu = <span style="color:red">@item.StandCode</span></h5>
                <h5 style="color:cornflowerblue">Toplam = <span style="color:red">@item.TotalPrice$</span></h5>
                <h5 style="color:cornflowerblue">Özellikleri = <span style="color:red">@item.StandFeatures</span></h5>
                <h5 style="color:cornflowerblue">Tedarikçi Bilgileri</h5>
                <label>
                    Tedarikçi ID = <span style="color:red">@item.SupplierId</span><br />
                    Tedarikçi Firma Adı = <span style="color:red">@item.Supplier.CompanyName</span><br />
                    Tedarikçi Yetkilisi Adı-Soyadı = <span style="color:red">@item.Supplier.Name  @item.Supplier.Surname</span><br />
                    Tedarikçi Adresi  = <span style="color:red">@item.Supplier.Address</span><br />
                    Tedarikçi Telefonu = <span style="color:red">@item.Supplier.Phone</span><br />
                    Tedarikçi Email = <span style="color:red">@item.Supplier.Email</span><br />
                </label><br />
                @Html.ActionLink("Geri Dön", "Index", "Stand", new { @class = "btn btn-lg btn-dark" })
                <br />
            </center>
        </div>
    }
</div>

