@model List<Contract>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GenelMudur/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Sözleşmeye Dair Bütün Bilgiler";
}

<div class="card card-danger">
    <div class="card-header">
        <h3 class="card-title">Sözleşme Bilgisi</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:auto;height:auto">Sözleşme ID</th>
                    <th style="width:auto;height:auto">Sözleşme Tarihi</th>
                    <th style="width:auto;height:auto">Görüşmeyi Yapan Personel</th>
                    <th style="width:auto;height:auto">Firma Bilgileri</th>
                    <th style="width:auto;height:auto">Sözleşme Tipi</th>
                    <th style="width:auto;height:auto">Stand Tipi</th>
                    <th style="width:auto;height:auto">Satın Alınan M2</th>
                    <th style="width:auto;height:auto">M2 Birim Fiyati</th>
                    <th style="width:auto;height:auto">Döviz Cinsi</th>
                    <th style="width:auto;height:auto">Döviz Kuru</th>
                    <th style="width:auto;height:auto">Döviz İndirim Oranı</th>
                    <th style="width:auto;height:auto">Vade Sayisi</th>
                    <th style="width:auto;height:auto">Ödeme Plani</th>
                    <th style="width:auto;height:auto">Toplam Tutar</th>
                    <th style="width:auto;height:auto">Sözleşme Son Geçerlilik Tarihi</th>
                    <th style="width:auto;height:auto">Sözleşme Durumu İmzalı mı?</th>
                    <th style="width:auto;height:auto"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.ID</td>
                        <td>@i.ContractDate.ToString("d")</td>
                        <td>Satış Personeli ID: @i.SalesPerson.ID<br />Adı-Soyadı: @i.SalesPerson.FullName</td>
                        <td>
                        ID : @i.CompanyInformation.ID<br />
                        Firma Adı: @i.CompanyInformation.Company.CompanyName<br />
                        Fuar Adı: @i.CompanyInformation.Company.Fair.FairName
                        </td>
                        <td>@i.ContractType.TypeName</td>
                        <td>@i.StandType.TypeName</td>
                        <td>Salon NO: @i.Stand.SaloonId<br />Stand Kodu: @i.Stand.Code<br />Eni : @i.Stand.Width<br />Boyu : @i.Stand.Height<br />M2= @i.Stand.Area</td>
                        <td>@i.SquarePrice</td>
                        <td>@i.Currency.CurrencyName</td>
                        <td>@i.EcxhangeRate</td>
                        <td>@i.DiscountRate</td>
                        <td>@i.MaturityNumber</td>
                        <td>@i.PaymentPlan</td>
                        <td>@i.TotalPrice</td>
                        <td>@i.ContractDeadline.ToString("d")</td>
                        <td>@i.ContractSigned</td>
                        <td>
                            @Html.ActionLink("Detay", "Detay", new { id = i.ID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

